<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit product</h1>
<form  th:action="@{/update}" method="post" th:object="${product}">
    <input type="text" hidden th:field="*{id}">
    <label>Name</label>
    <input type="text" th:field="*{name}">
    <br>
    <lable>Price</lable>
    <input type="text" th:field="*{price}">
    <br>
    <lable>Producer</lable>
    <input type="text" th:field="*{producer}">
    <br>
    <button type="submit">submit</button>
</form>
</body>
</html>