<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
<div>
    <h5 class="card-title" th:text="${books.name}"></h5>
    <a class="card-text" th:text="${books.summary}"></a>
    <a class="card-text" th:text="${books.amount}"></a>
    <p th:if="${books.amount == 0}" class="btn btn-primary"><span>Đã hết</span></p>
    <form action="/rent" method="post" th:object="${bookcard}">
        <input type="hidden" th:field="*{book}">
        <button type="submit" class="btn btn-primary" th:if="${book.amount > 0}">Thuê</button>
    </form>
</div>
</body>
</html>