<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
<h1>Book Management</h1>
<table class="table-hover table">
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Amount</th>
    </tr>
    <tr th:each="book :${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.amount}"></td>
        <td><a class="btn btn-info" th:href="@{details(id=${book.id})}">Rent</a></td>
    </tr>
</table>
</body>
</html>