<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Category list</h2>

<a th:href="@{/category/add}">Add new</a><br>

<p style="color: green" th:text="${mess}"></p>

<table border="1" cellpadding="8">
  <tr>
    <th>#</th>
    <th>Name</th>
  </tr>

  <tr th:each="category, status : ${categoryList}">
    <td th:text="${status.count}"></td>
    <td th:text="${category.categoryName}"></td>
  </tr>
</table>
</body>
</html>