<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="home:: css">
    <style th:replace="home:: backgroud"></style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div style="background: #e9f2ef" class="col-lg-6 shadow-lg">
            <form action="/customer/save"  method="post" th:object="${customerDto}">
                <div class="mb-5 mt-3 text-center fst-italic">
                    <h1>Add New Customer Form</h1>
                </div>

                <div class="mb-3">
                    <label for="nameCustomer" class="form-label fw-bold fst-italic">Name Customer:</label>
                    <span th:errors="*{name}" id="nameError" class="form-text text-danger"></span>
                    <input th:field="*{name}" type="text" class="form-control" id="nameCustomer" aria-describedby="nameError">
                </div>

                <div class="mb-3">
                    <label for="birthDayCustomer" class="form-label fw-bold fst-italic">Birth Day:</label>
                    <span th:errors="*{dateOfBirth}" id="dateOfBirthError" class="form-text text-danger"></span>
                    <input th:field="*{dateOfBirth}" type="date" class="form-control" id="birthDayCustomer" aria-describedby="dateOfBirthError">
                </div>


                <div class="mb-3">
                    <label for="genderCustomer" class="form-label fw-bold fst-italic">Gender:</label>
                    <select th:field="*{gender}" id="genderCustomer" class="form-select" aria-label="Default select example">
                        <option value="false">Nữ</option>
                        <option value="true">Nam</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="idCard" class="form-label fw-bold fst-italic">Id Card:</label>
                    <span th:errors="*{idCard}" id="idCardError" class="form-text text-danger"></span>
                    <input th:field="*{idCard}" type="text" class="form-control" id="idCard" aria-describedby="idCardError">
                </div>

                <div class="mb-3">
                    <label for="phoneCustomer" class="form-label fw-bold fst-italic">Phone:</label>
                    <span th:errors="*{phoneNumber}" id="phoneError" class="form-text text-danger"></span>
                    <input th:field="*{phoneNumber}" type="text" class="form-control" id="phoneCustomer" aria-describedby="phoneError">
                </div>

                <div class="mb-3">
                    <label for="emailCustomer" class="form-label fw-bold fst-italic">Email:</label>
                    <span th:errors="*{email}" id="emailError" class="form-text text-danger"></span>
                    <input th:field="*{email}" type="email" class="form-control" id="emailCustomer" aria-describedby="emailError">
                </div>

                <div class="mb-3">
                    <label for="customerType" class="form-label fw-bold fst-italic">Customer Type:</label>
                    <select th:field="*{customerType}" id="customerType" class="form-select" aria-label="Default select example">
                        <option th:each="customerTypeObj : ${customerTypeList}"
                                th:value="${customerTypeObj.id}"
                                th:text="${customerTypeObj.name}">
                        </option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="address" class="form-label fw-bold fst-italic">Address:</label>
                    <span th:errors="*{address}" id="addressError" class="form-text text-danger"></span>
                    <input th:field="*{address}" type="text" class="form-control" id="address" aria-describedby="addressError">
                </div>

                <button type="submit" class="btn btn-primary mb-3 w-100">Add</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>