<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: nav"></nav>
<table class="table">
    <thead class="text-dark">
    <tr>
        <th>#</th>
        <th>Thể loại</th>
        <th>Chức năng</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category, status : ${categories}">
        <td th:text="${status.count}"></td>
        <td th:text="${category.categoryName}"></td>
        <td>
            <a class="btn btn-primary" th:href="@{/list(categoryName=${category.categoryName})}">Các blog thể loại</a>
            <a class="btn btn-primary" th:href="@{/category/update(id=${category.id})}">Chỉnh sửa</a>
            <button type="button" class="btn btn-primary"
                    th:attr="onclick=|showInfoBlog('${category.id}','${category.categoryName}')|"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                Xoá
            </button>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:href="@{/category/list(page=${categories.number-1})}"
               aria-label="Previous"
               th:if="${categories.hasPrevious()}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" >
            <span th:text="${categories.number+1}"></span>/
            <span th:text="${categories.totalPages}"></span>
        </li>
        <li class="page-item">
            <a class="page-link" th:href="@{/category/list(page=${categories.number+1})}"
               aria-label="Next"
               th:if="${categories.hasNext()}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
<p th:text="${message}"></p>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn xoá không?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/category/delete" method="get">
                <div class="modal-body">
                    <input type="hidden" name="idDelete" id="idDelete">
                    <span id="titleDelete"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Xoá</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:replace="layout :: script"></script>
<script>
    function showInfoBlog(id, title) {
        document.getElementById("idDelete").value = id;
        document.getElementById("titleDelete").innerText = title;
    }
</script>
</body>
</html>