<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Giá</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product, status : ${cart.keySet()}">
        <th scope="row" th:text="${status.count}"></th>
        <td colspan="2" th:text="${product.name}">Larry the Bird</td>
        <td colspan="2" th:text="${cart.get(product)}">Larry the Bird</td>
        <td colspan="2" th:text="${product.price}">Larry the Bird</td>
    </tr>
    </tbody>
    <p>Tổng tiền: <span th:text="${total}"></span></p>
</table>
</body>
</html>