<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head  th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h3>Music Management</h3>
<p>
    <a class="btn btn-success" th:href="@{/create}">
        Add new song
    </a>
</p>
<table id="musics" class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <th>Singer</th>
        <th>Category</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="musics,loop : ${musicList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${musics.id}"></td>
        <td th:text="${musics.name}"></td>
        <td th:text="${musics.singer}"></td>
        <td th:text="${musics.category}"></td>
        <td>
            <a class="btn btn-warning" th:href="@{/edit(id=${musics.id})}">EDIT</a>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>